<!-- 17 -->
<div class="row">
  <div class="col-sm-4">
    <h1><%= "#{@game.player_one_17}" %></h1>
  </div>
  <div class="col-sm-4">
      <h1>17</h1>
  </div>
  <div class="col-sm-4">
    <h1><%= "#{@game.player_two_17}" %></h1>
  </div>
</div>
