<!-- 17 -->
<div class="row">
  <div class="col-sm-4">
    <h1><%= button_to("#{@game.player_one_17}", games_player_one_17_path(id: @game.id), method: :post, class: 'button') %></h1>
  </div>
  <div class="col-sm-4">
      <h1>17</h1>
  </div>
  <div class="col-sm-4">
    <h1><%= button_to("#{@game.player_two_17}", games_player_two_17_path(id: @game.id), method: :post, class: 'button') %></h1>
  </div>
</div>
