<!-- 18 -->
<div class="row">
  <div class="col-sm-4">
    <h1><%= "#{@game.player_one_18}" %></h1>
  </div>
  <div class="col-sm-4">
      <h1>18</h1>
  </div>
  <div class="col-sm-4">
    <h1><%= "#{@game.player_two_18}" %></h1>
  </div>
</div>
