<!-- 20 -->
<div class="row">
  <div class="col-sm-4">
    <button type="button" name="button"><%= link_to("#{@game.player_one_20}", games_player_one_20_path(id: @game.id), method: :post) %></button>
  </div>
  <div class="col-sm-4">
      <h1>20</h1>
  </div>
  <div class="col-sm-4">
    <button type="button" name="button"><%= link_to("#{@game.player_two_20}", games_player_two_20_path(id: @game.id), method: :post) %></button>
  </div>
</div>
