<% provide(:title, "#{@player_one_name} vs. #{@player_two_name}") %>
<h1><%= "#{@player_one_name} vs. #{@player_two_name}" %></h1>

<div class="container">
    <!-- names -->
    <div class="row">
      <div class="col-sm-4">
        <h1><%= "#{@game[:player_one_score] || 0}" %></h1>
      </div>
      <div class="col-sm-4">
        <h1>Score</h1>
      </div>
      <div class="col-sm-4">
        <h1><%= "#{@game[:player_two_score] || 0}" %></h1>
      </div>
  </div>
  <% ['20', '19', '18', '17', '16', '15', 'be'].each do |num| %>
    <%= render partial: 'scorer', locals: { score: num } %>
  <% end %>
</div>
