<footerclass="navbar navbar-fixed-bottom navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-center">
        <li><%= link_to 'Search for players', users_path %></li>
      </ul>
    </nav>
  </div>
</footer>
