<footerclass="navbar navbar-fixed-bottom navbar-inverse">
  <div class="container">
    <%= link_to "Darts", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-center">
        <li><%= link_to 'Search for players', users_path %></li>
      </ul>
    </nav>
  </div>
</footer>
